@import "../../node_modules/bootstrap/scss/bootstrap-reboot";

body {
    background-color: #111;
}

h2 {
    color: #e1e1e1;
}

.version {
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    color: #e1e1e1;
    font-style: italic;
}

canvas {
    transform: translateZ(0);
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: pixelated; /* Chrome */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}